/************* HEADER **************/
header{
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: var(--cor-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.div_logo_aol{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.espmlogo_aol{
    height: 60px; 
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.v_log{fill:#B0223B;}
.b_log{fill:#FFFFFF;}

#menubtn_aol{
    display: none;
    cursor: pointer;
}
.user_aol{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 1rem;
}
.user_aol br{
    display: none;
}
.userid_aol{
    color: var(--cor-textb);
    font-size: 0.9rem;
}
.userimg_aol{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--cor-footer);
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.userimgsvg_aol {
    width: auto;
    height: 70%;
    position: absolute;
    opacity: 0.5;
}
/************* HEADER FIM **************/






@media (max-width: 768px){


    .espmlogo_aol {
        height: 40px;
        margin-left: 1rem;
        margin-right: 0.5rem;
    }

    .userimg_aol {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: var(--cor-footer);
        margin-left: 1rem;
        margin-right: 1rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .userid_aol {
        color: var(--cor-textb);
        font-size: 0.9rem;
        width: 50%;
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        height: 59px;
        width: 100%;
        background-color: var(--cor-header);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }

    #menubtn_aol {
        display: flex;
        cursor: pointer;
        width: 35px;
        height: 20px;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .div_logo_aol {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
    }

    #menubtn_aol div{
        background-color: #FFFFFF !important;
        height: 2px !important;
        width: 100% !important;
        transition: all .3s ease-in-out;
        
    }
    #menubtn_aol.ativo div:nth-child(1){
        transform: rotate(45deg) translate(9px, 7px) !important;        
    }
    #menubtn_aol.ativo div:nth-child(2){
        opacity: 0 !important;
    }
    #menubtn_aol.ativo div:nth-child(3){
        transform: rotate(-45deg) translate(5px, -3px) !important;
    }


}